<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="/css/loading.css">
  </head>
  <body>
    <div class="ld">
      <div class="msg">CARREGANDO...</div>
      <div class="c-loader"></div>
    </div>
  </body>
  <script src="/dist/js/reconnecting-websocket.min.js"></script>
  <script src="/js/connectionGame.js"></script>
</html>
