<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jogo da Forca</title>
		<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
			  <div class="col col-6">
					<div class="formlogin">
						<img src="/img/logo.png" class="imgMain">
						<input type="name" id="nick" class="form-control" placeholder="Apelido">
						<button onclick="lobby.create()" class="btn btn-dark btn-lg w-100" id="CreateRoom">Criar Sala</button> <!--Verificar aqui-->
					</div>
			  </div>
				<div class="col col-6 col-md4 invisible" id="GamerList">
					<ul class="GamerList">
					</ul>
			  </div>
			</div>
		</div>
	</body>
  <script src="/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/dist/js/reconnecting-websocket.min.js"></script>
	<script src="/js/connection.js"></script>
	<script src="/js/lobby.js"></script>
</html>