<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jogo da Forca</title>
		<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div class="container">
						<div class="row">
							<input type="text" id="nick" size="20" /> 
						</div>
						<div class="row">
							<button type="button" class="btn btn-primary">Criar sala</button>
						</div>
					</div>
				</div>
				<div class="col-9" id="lobby_list">
					
					
					
					
					<!--<ul class="list-group">
						<li class="list-group-item">
							<label>Nome qualquer 1</label>
							<button type="button" class="btn btn-primary">Entrar</button>
						</li>
						<li class="list-group-item">
							<label>Nome qualquer 2</label>
							<button type="button" class="btn btn-primary">Entrar</button>
						</li>
						<li class="list-group-item">A third item</li>
						<li class="list-group-item">A fourth item</li>
						<li class="list-group-item">And a fifth one</li>
					</ul>-->
					



				</div>
			</div>
		</div>

	</body>
  <script src="/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/dist/js/reconnecting-websocket.min.js"></script>
	<script src="/js/connection.js"></script>
	<script src="/js/lobby.js"></script>
</html>